@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');

html, body, #svelte {
    height: 100%;
    margin: 0;
}

body {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
}